<template>

    <div class="col-sm-2">
        <div id="itemWrapper">
            <div id="itemHeadingWrapper">
                <span id="itemName" style="color: grey; font-size: 15px">Pizza</span>
            </div>
            <div id="itemImageWrapper">
                <span id="item" style="color: #3c4194; font-size: 25px;font-weight: bold ">Margarita</span>
<!--                <img id="image" src="https://images-na.ssl-images-amazon.com/images/I/81mEIp4PMBL._SL1500_.jpg">-->
            </div>
            <div id="itemPriceWrapper">
                <span id="itemPrice"  style="color: #3c4194; font-size: 20px">35kn</span>
            </div>
        </div>
    </div>
</template>

<!--<script>-->
<!--    export default {-->
<!--        props: ['item'],-->
<!--        data() {-->
<!--            return {-->
<!--                quantity: 0-->
<!--            }-->
<!--        },-->
<!--        computed: {-->
<!--        },-->
<!--        methods: {-->
<!--            buyItem() {-->
<!--                const order = {-->
<!--                    itemId: this.item.id,-->
<!--                    quantity: this.quantity-->
<!--                };-->
<!--                this.$store.dispatch('buyStock', order);-->
<!--                this.quantity = 0;-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->

<style scoped>
    #itemWrapper {
        margin-left: 3rem;
        background-color: white;
        /*border: #f8f8f8 5px solid;*/
        box-shadow: 0px 3px 15px 2px rgba(107,107,107,1);
        height: 12rem;
        width: 12rem;
        position: relative;
        border-radius: 1%;
    }

    #itemHeadingWrapper {
        background-color: white;
        /*box-shadow: 0px 0px 8px 0px rgba(107,107,107,1);*/
        height: 2rem;
        width: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -300%);
        position: absolute;
    }

    #itemImageWrapper {
        /*background-color: blue;*/
        height: 2rem;
        width: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    #itemPriceWrapper {
        /*background-color: yellow;*/
        /*box-shadow: 0px 0px 8px 0px rgba(107,107,107,1);*/
        height: 50px;
        width: 340px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200%);
        position: absolute;
    }
    #item {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    #itemName, #itemPrice {
        left: 50%;
        transform: translate(-50%, 50%);
        position: absolute;
    }
    #image {
        height: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
</style>

