<template>
  <div>
    <login v-if="!isUserLoggedIn"></login>
    <v-app v-else>
      <app-header :isDarkThemeProp="isDarkTheme" :paletteProp="palette"></app-header>
      <v-content :style="{ backgroundColor: palette.appTheme.secondaryColor }">
        <app-drawer :isDarkThemeProp="isDarkTheme" :paletteProp="palette"></app-drawer>
        <router-view :isDarkTheme="isDarkTheme" :palette="palette" :key="$route.path"></router-view>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import AppHeader from "./components/layout/AppHeader/AppHeader";
import AppDrawer from "./components/layout/AppDrawer/AppDrawer";
import Login from "./components/layout/AppLogin/Login";

import { mapGetters } from "vuex";

export default {
  name: "App",
  props: {
    palette: Object,
    isDarkTheme: Boolean
  },
  data: () => ({}),
  components: {
    AppHeader,
    AppDrawer,
    Login
  },
  computed: {
    ...mapGetters({
      isUserLoggedIn: "getUserState",
      isDarkTheme: "getCurrentTheme",
      palette: "getPalette"
    })
  }
};
</script>

