<template>
  <div>
    <!--        <page-description :pageDescription="pageDescription"></page-description>-->
    <ag-grid-vue
      style="width:100%; height: 93vh;"
      :class="[isDarkThemeProp ? 'ag-theme-balham-dark' : 'ag-theme-material']"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :modules="modules"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
import { AllCommunityModules } from "@ag-grid-community/all-modules";
import "@ag-grid-community/all-modules/dist/styles/ag-grid.css";
import "@ag-grid-community/all-modules/dist/styles/ag-theme-dark.css";
import "@ag-grid-community/all-modules/dist/styles/ag-theme-material.css";
import "@ag-grid-community/all-modules/dist/styles/ag-theme-balham-dark.css";
import axios from "axios";

import AppHeader from "../../../components/layout/AppHeader/AppHeader";
import AppDrawer from "../../../components/layout/AppDrawer/AppDrawer";
// import PageDescription from "../../../components/PageDescription";

export default {
  props: {
    paletteProp: Object,
    isDarkThemeProp: Boolean
  },
  data() {
    return {
      pageDescription: "This is Items Table",
      columnDefs: null,
      rowData: null,
      modules: AllCommunityModules
    };
  },
  components: {
    AppHeader,
    AppDrawer,
    // PageDescription
    AgGridVue
  },
  beforeMount() {
    this.columnDefs = [
      { headerName: "ID", field: "receiptId", sortable: true, filter: true },
      {
        headerName: "Datum Potpisa",
        field: "dateOfSignature",
        sortable: true,
        filter: true
      },
      {
        headerName: "Datum Fiskalizacije",
        field: "dateOfFiskalizacija",
        sortable: true,
        filter: true
      },
      { headerName: "ZKI", field: "zki", sortable: true, filter: true },
      { headerName: "JIR", field: "jir", sortable: true, filter: true },
      {
        headerName: "Storno",
        field: "cancellation",
        sortable: true,
        filter: true
      },
      {
        headerName: "Storno Razlog",
        field: "cancellationReason",
        sortable: true,
        filter: true
      },
      {
        headerName: "Br. Računa",
        field: "receiptNumber",
        sortable: true,
        filter: true
      },
      {
        headerName: "Zaposlenik",
        field: "employeeId",
        sortable: true,
        filter: true
      }
      // {headerName: '', field: 'price'},
      // {headerName: 'Aktivan', field: 'active'},
    ];

    axios
      .get("http://localhost:9000/receipt/all")
      .then(response => {
        console.log(response.data.result);
        this.rowData = response.data.result;
      })
      .catch(error => console.log(error));

    this.rowData = [];
  }
};
</script>

<style lang="scss">
@import "../../../../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "../../../../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
</style>
