<template>
  <div>
    <v-container fluid>
      <v-row justify="center">
        <v-subheader :style="{ color: palette.other.sideTextColor }">Današnje Notifikacije</v-subheader>
        <v-expansion-panels popout>
          <v-expansion-panel
            :style="{ backgroundColor: palette.appTheme.primaryColor }"
            v-for="(message, i) in messages"
            :key="i"
            hide-actions
          >
            <v-expansion-panel-header>
              <v-row align="center" class="spacer" no-gutters>
                <v-col cols="4" sm="2" md="1">
                  <v-avatar size="36px">
                    <img v-if="message.avatar" alt="Avatar" :src="message.avatar" />
                    <v-icon v-else :color="message.color" v-text="message.icon"></v-icon>
                  </v-avatar>
                </v-col>

                <v-col
                  :style="{ color: palette.other.secondaryButtonColor }"
                  class="hidden-xs-only"
                  sm="5"
                  md="3"
                >
                  <strong>{{message.name}}</strong>
                  <span
                    v-if="message.total"
                    :color="palette.other.mainTextColor"
                  >&nbsp;({{ message.total }})</span>
                </v-col>

                <v-col
                  :style="{ color: palette.other.mainTextColor }"
                  class="text-no-wrap"
                  cols="5"
                  sm="3"
                >
                  {{message.title}}
                  <v-chip
                    v-if="message.new"
                    :style="{
                        backgroundColor: palette.appTheme.tertiaryColor,
                        color: '#fff'
                    }"
                    class="ma-0"
                    small
                  >{{ message.new }}</v-chip>
                </v-col>

                <v-col
                  v-if="message.excerpt"
                  :style="{ color: palette.other.sideTextColor }"
                  class="text-truncate hidden-sm-and-down"
                >
                  &mdash;
                  {{ message.excerpt }}
                </v-col>
              </v-row>
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <v-divider></v-divider>
              <v-card-text :style="{color: palette.other.mainTextColor}" v-text="lorem"></v-card-text>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    palette: {
      type: Object,
      required: false,
      default: {
        appTheme: {
          primaryColor: "#181F29",
          secondaryColor: "#0E1319",
          tertiaryColor: "#FF006C"
        },
        other: {
          secondaryButtonColor: "#0268F9",
          tertiaryButtonColor: "#74777C",
          mainTextColor: "#fff",
          sideTextColor: "#F2F2F2",
          notificationsColor: "#6672D8",
          firstHelperColor: "#4AA2E4",
          secondHelperColor: "#7061D4",
          thirdHelperColor: "#282E3E",
          fourthHelperColor: "#EB5757"
        }
      }
    },
    isDarkTheme: Boolean
  },
  data: () => ({
    messages: [
      // {
      //   avatar: "https://randomuser.me/api/portraits/men/11.jpg",
      //   name: "Pero Peric",
      //   title: "Dodan Novi Račun!",
      //   excerpt: "Dodan novi račun sa brojem..."
      // },
      // {
      //   avatar: "https://randomuser.me/api/portraits/men/20.jpg",
      //   name: "Ante Antić",
      //   title: "Dodan Novi Artikal!",
      //   excerpt: "Dodan novi artikal sa šifrom..."
      // },
      // {
      //   avatar: "https://randomuser.me/api/portraits/men/7.jpg",
      //   name: "Ivo Ivić",
      //   title: "Storniran Račun!",
      //   excerpt: "Storniran račun sa brojem..."
      // },
      {
        color: "indigo",
        icon: "receipt",
        name: "Novi Račun",
        new: 1,
        excerpt: "Dodan novi račun sa brojem...",
        title: "Dodan Novi Račun!"
      },
      {
        color: "error",
        icon: "receipt",
        name: "Storniranje Računa",
        title: "Storniran Račun!",
        excerpt: "Storniran račun sa brojem..."
      },
      {
        color: "indigo",
        icon: "add_shopping_cart",
        name: "Novi Artikl",
        title: "Dodan Novi Artikal!",
        excerpt: "dodan novi artikal sa šifrom..."
      }
    ],
    lorem:
      "lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem "
  })
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>
