<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card :style="{backgroundColor: paletteProp.appTheme.primaryColor}">
          <v-card-title :style="{color: paletteProp.other.secondHelperColor}">
            <strong>Unos Novog Artikla</strong>
          </v-card-title>
          <v-card-text :style="{color: paletteProp.other.secondHelperColor}">
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="code"
                    :error-messages="errorMessages"
                    :counter="4"
                    label="Šifra Artikla*"
                    required
                    @input="$v.code.$touch()"
                    @blur="$v.code.$touch()"
                    ref="code"
                    :rules="[rules.required, rules.max]"
                    placeholder="COCA"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <v-container style="margin-top: -1rem" fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="shortName"
                    :error-messages="shortNameErrors"
                    label="Kratki Naziv Artikla*"
                    required
                    @input="$v.shortName.$touch()"
                    @blur="$v.shortName.$touch()"
                    ref="shortName"
                    :rules="[
              rules.required,
              shortNameCheck
            ]"
                    placeholder="Coca Cola"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="fullName"
                    :error-messages="fullNameErrors"
                    label="Puni Naziv Artikla*"
                    required
                    @input="$v.fullName.$touch()"
                    @blur="$v.fullName.$touch()"
                    :rules="[rules.required, ]"
                    ref="fullName"
                    name="fullName"
                    value
                    class="input-group--focused"
                    outlined
                    rounded
                    placeholder="Coca Cola 2L"
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>

            <v-container style="margin-top: -1rem" fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-select
                    v-model="select"
                    :items="unitOfMeasure"
                    :error-messages="selectErrors"
                    label="Jedinična Mjera*"
                    required
                    @change="$v.select.$touch()"
                    @blur="$v.select.$touch()"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    :rules="[rules.required, ]"
                    ref="unitPrice"
                    name="unitPrice"
                    value
                    class="input-group--focused"
                    outlined
                    rounded
                    prefix="Kn"
                    v-model="unitPrice"
                    :error-messages="unitPriceErrors"
                    label="Jedinična Cijena*"
                    required
                    @input="$v.unitPrice.$touch()"
                    @blur="$v.unitPrice.$touch()"
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>

            <v-container style="margin-top: -1rem" fluid>
              <v-row>
                <v-col cols="12" sm="4">
                  <v-text-field
                    v-model="discount"
                    :error-messages="discountErrors"
                    label="Rabat*"
                    required
                    @input="$v.discount.$touch()"
                    @blur="$v.discount.$touch()"
                    outlined
                    rounded
                    :rules="[rules.required, ]"
                    ref="discount"
                    name="discount"
                    value
                    class="input-group--focused"
                    prefix="%"
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-text-field
                    v-model="tax"
                    :error-messages="taxErrors"
                    label="PDV*"
                    required
                    @input="$v.tax.$touch()"
                    @blur="$v.tax.$touch()"
                    outlined
                    rounded
                    :rules="[rules.required, ]"
                    ref="tax"
                    name="tax"
                    value
                    class="input-group--focused"
                    prefix="%"
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-text-field
                    v-model="stock"
                    :error-messages="stockErrors"
                    label="Zaliha*"
                    required
                    @input="$v.stock.$touch()"
                    @blur="$v.stock.$touch()"
                    outlined
                    rounded
                    :rules="[rules.required, ]"
                    ref="stocks"
                    name="stocks"
                    value
                    class="input-group--focused"
                    suffix="Kom"
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card>
          <v-card-actions
            class="actionsDetails"
            :style="{backgroundColor: paletteProp.appTheme.primaryColor}"
            style="border-radius: 0"
          >
            <v-btn outlined color="error">
              Izbriši
              <v-icon right size="1.4rem">delete_outline</v-icon>
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              :style="{backgroundColor: paletteProp.other.notificationsColor}"
              @click="showAlert"
              dark
              v-on="on"
            >
              Potvrdi
              <v-icon right size="1.4rem">check_circle_outline</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";

export default {
  props: {
    paletteProp: Object,
    isDarkThemeProp: Boolean
  },
  mixins: [validationMixin],

  validations: {
    code: {
      required,
      maxLength: maxLength(4)
    },
    shortName: {
      required
    },
    fullName: {
      required
    },
    unitOfMeasure: {
      required
    },
    unitPrice: {
      required
    },
    discount: {
      required
    },
    tax: {
      required
    },
    stock: {
      required
    },
    image: {
      required
    },
    select: {
      required
    }
  },

  data: () => ({
    code: "",
    shortName: "",
    fullName: "",
    unitOfMeasure: ["kg", "g", "l", "kom"],
    unitPrice: "",
    discount: "",
    tax: "",
    stock: "",
    image: "",
    select: null,
    show1: false,
    show2: true,
    show3: false,
    show4: false,
    password: "Password",
    rules: {
      required: value => !!value || "Ovo polje je obvezno!.",
      min: v => v.length >= 8 || "Minimalno 8 znakova",
      max: v => v.length <= 4 || "Maksimum 4 znaka"
    },
    styleObject: {
      color: "red",
      fontSize: "13px"
    }
  }),

  computed: {
    codeErrors() {
      const errors = [];
      if (!this.$v.code.$dirty) return errors;
      !this.$v.code.required &&
        errors.push("Šifra Artikla je potrebna za nastavak.");
      !this.$v.code.maxLength &&
        errors.push("Šifra Artikla mora imati maksimum 4 znaka.");
      return errors;
    },
    shortNameErrors() {
      const errors = [];
      if (!this.$v.shortName.$dirty) return errors;
      !this.$v.shortName.required &&
        errors.push("Kratki Naziv Artikla je potreban za nastavak.");
      return errors;
    },
    fullNameErrors() {
      const errors = [];
      if (!this.$v.fullName.$dirty) return errors;
      !this.$v.fullName.required &&
        errors.push("Puni Naziv Artikla je potreban za nastavak.");
      return errors;
    },
    selectErrors() {
      const errors = [];
      if (!this.$v.select.$dirty) return errors;
      !this.$v.select.required &&
        errors.push("Jedinična Mjera je potrebna za nastavak.");
      return errors;
    },
    unitPriceErrors() {
      const errors = [];
      if (!this.$v.unitPrice.$dirty) return errors;
      !this.$v.unitPrice.required &&
        errors.push("Jedinična Cijena je potrebna za nastavak.");
      return errors;
    },
    discountErrors() {
      const errors = [];
      if (!this.$v.discount.$dirty) return errors;
      !this.$v.discount.required &&
        errors.push("Rabat je potreban za nastavak.");
      return errors;
    },
    taxErrors() {
      const errors = [];
      if (!this.$v.tax.$dirty) return errors;
      !this.$v.tax.required && errors.push("PDV je potreban za nastavak.");
      return errors;
    },
    stockErrors() {
      const errors = [];
      if (!this.$v.stock.$dirty) return errors;
      !this.$v.stock.required && errors.push("Zaliha je potrebna za nastavak.");
      return errors;
    }
  },

  methods: {
    showAlert() {
      // Use sweetalert2
      this.$swal("Hello Vue world!!!");
    },
    submit() {
      this.$v.$touch();
    },
    clear() {
      this.$v.$reset();
      this.code = "";
      this.shortName = "";
      this.fullName = "";

      this.unitPrice = "";
      this.discount = "";
      this.tax = "";
      this.stock = "";
      this.image = "";
      this.select = null;
    }
  }
};
</script>

<style>
.v-input__slot .v-label {
  color: #6672d8 !important;
}
</style>