<template>
  <div>
    <v-app id="inspire">
      <v-content>
        <v-container fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
              <v-card class="elevation-12">
                <v-toolbar color="#181F29" dark flat>
                  <v-toolbar-title>Login</v-toolbar-title>
                  <v-spacer />
                </v-toolbar>
                <v-card-text>
                  <v-form>
                    <v-text-field
                      class="my-text-field-1"
                      label="Email"
                      name="login"
                      prepend-icon="person"
                      type="text"
                    />

                    <v-text-field
                      class="my-text-field-1"
                      id="password"
                      label="Password"
                      name="password"
                      prepend-icon="lock"
                      type="password"
                    />
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    style="margin-right: 0.5rem; margin-bottom: 1rem; margin-top: -1.5rem;"
                    v-on:click="loginUser"
                    color="#7061D4"
                    dark
                    to="/"
                  >
                    Prijava
                    <v-icon right>exit_to_app</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    source: String
  },
  methods: {
    loginUser() {
      this.$store.dispatch("loginUser");
    }
  }
};
</script>

<style >
.my-text-field-1 .v-input__prepend-outer .v-icon {
  color: #722ebf;
}
</style>
