<template>
  <nav>
    <v-toolbar flat dark :color="paletteProp.appTheme.secondaryColor">
      <v-toolbar-title class="text-uppercase" :style="{ color: paletteProp.other.mainTextColor}">
        <span style="margin-left: 80px" class="font-weight-light">Vele</span>
        <span>Ri ERP</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn to="/login" v-on:click="signOut" text dark :color="paletteProp.appTheme.tertiaryColor">
        <span>Odjava</span>
        <v-icon right>power_settings_new</v-icon>
      </v-btn>
      <!--            #282E3E - darker - drawer-->
      <!--            #2F3447 - lighter - nav-->
    </v-toolbar>
  </nav>
</template>

<script>
export default {
  props: {
    paletteProp: {
      type: Object,
      required: false,
      default: {
        appTheme: {
          primaryColor: "#181F29",
          secondaryColor: "#0E1319",
          tertiaryColor: "#FF006C"
        },
        other: {
          secondaryButtonColor: "#0268F9",
          tertiaryButtonColor: "#74777C",
          mainTextColor: "#fff",
          sideTextColor: "#F2F2F2",
          notificationsColor: "#6672D8",
          firstHelperColor: "#4AA2E4",
          secondHelperColor: "#7061D4",
          thirdHelperColor: "#282E3E",
          fourthHelperColor: "#EB5757"
        }
      }
    },
    isDarkThemeProp: Boolean
  },
  data() {
    return {
      hasToken: false
    };
  },
  methods: {
    signOut() {
      this.$store.dispatch("signOutUser");
    }
  }
};
</script>
