<template id="app">
  <v-card>
    <v-navigation-drawer
      app
      expand-on-hover
      permanent
      hide-overlay
      height="100vh"
      dark
      :color="paletteProp.appTheme.primaryColor"
      :style="{border: 'solid 1px', borderColor: paletteProp.other.secondHelperColor}"
    >
      <!-- Avatar -->
      <template v-slot:prepend>
        <v-list-item>
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/17.jpg"></v-img>
          </v-list-item-avatar>
        </v-list-item>
        <v-divider :style="{ backgroundColor: paletteProp.other.tertiaryButtonColor }"></v-divider>
        <v-list-item link two-line>
          <v-list-item-content>
            <v-list-item-title
              :style="{ color: paletteProp.other.mainTextColor }"
              class="title"
            >Adminko Admić</v-list-item-title>
            <v-list-item-subtitle
              :style="{ color: paletteProp.other.mainTextColor }"
            >admin@admin.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-divider :style="{ backgroundColor: paletteProp.other.tertiaryButtonColor }"></v-divider>

      <v-layout align-center justify-space-between column fill-height>
        <v-list>
          <!-- Dashboard -->
          <v-list-tile :style="{ color: paletteProp.appTheme.tertiaryColor }">
            <v-list-item link router to="/">
              <v-list-item-icon>
                <v-icon :light="!isDarkThemeProp">home</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Dashboard</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-tile>
          <v-divider :style="{ backgroundColor: paletteProp.other.tertiaryButtonColor }"></v-divider>

          <!-- Pregledi -->
          <v-list-tile>
            <v-list-group>
              <template v-slot:activator>
                <v-list-item-icon>
                  <v-icon :style="{ color: paletteProp.other.mainTextColor }">table_chart</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Pregled</v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon>
                  <v-icon :style="{ color: paletteProp.other.mainTextColor }">arrow_drop_down</v-icon>
                </v-list-item-icon>
              </template>

              <!-- <template v-slot:activator>
                <v-list-item-title>Novi Unos</v-list-item-title>
                <v-icon>arrow_drop_down</v-icon>
              </template>-->

              <v-list-item
                :style="{ color: paletteProp.appTheme.tertiaryColor }"
                link
                router
                to="/table/items"
              >
                <v-list-item-icon>
                  <v-icon :light="!isDarkThemeProp">store</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Artikala</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item
                :style="{ color: paletteProp.appTheme.tertiaryColor }"
                link
                router
                to="/table/receipts"
              >
                <v-list-item-icon>
                  <v-icon :light="!isDarkThemeProp">receipt</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Računa</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-list-tile>
          <v-divider :style="{ backgroundColor: paletteProp.other.tertiaryButtonColor }"></v-divider>

          <!-- Unosi -->
          <v-list-tile>
            <v-list-group>
              <template v-slot:activator>
                <v-list-item-icon>
                  <v-icon :style="{ color: paletteProp.other.mainTextColor }">create</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Novi Unos</v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon>
                  <v-icon :style="{ color: paletteProp.other.mainTextColor }">arrow_drop_down</v-icon>
                </v-list-item-icon>
              </template>

              <!-- color="#EB5757" -->
              <v-list-item
                :style="{ color: paletteProp.appTheme.tertiaryColor }"
                link
                router
                to="/form/item"
              >
                <v-list-item-icon>
                  <v-icon :light="!isDarkThemeProp">store</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Artikla</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item
                :style="{ color: paletteProp.appTheme.tertiaryColor }"
                link
                router
                to="/form/receipt"
              >
                <v-list-item-icon>
                  <v-icon :light="!isDarkThemeProp">fas fa-cash-register fa-xs</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Računa</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- color="#FF006C"  -->
              <v-list-item
                :style="{ color: paletteProp.appTheme.tertiaryColor }"
                link
                router
                to="/form/user"
              >
                <v-list-item-icon>
                  <v-icon :light="!isDarkThemeProp">person_add</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title :style="{ color: paletteProp.other.mainTextColor }">Korisnika</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-list-tile>
          <v-divider></v-divider>
        </v-list>

        <v-icon
          id="toggle"
          @click="toggleTheme"
          justify-end
          size="2.3rem"
          flat
          exact
          icon
          :style="{ color: paletteProp.other.mainTextColor }"
        >{{themeToggle}}</v-icon>
      </v-layout>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    paletteProp: {
      type: Object,
      required: false,
      default: {
        appTheme: {
          primaryColor: "#181F29",
          secondaryColor: "#0E1319",
          tertiaryColor: "#FF006C"
        },
        other: {
          secondaryButtonColor: "#0268F9",
          tertiaryButtonColor: "#74777C",
          mainTextColor: "#fff",
          sideTextColor: "#F2F2F2",
          notificationsColor: "#6672D8",
          firstHelperColor: "#4AA2E4",
          secondHelperColor: "#7061D4",
          thirdHelperColor: "#282E3E",
          fourthHelperColor: "#EB5757"
        }
      }
    },
    isDarkThemeProp: Boolean
  },
  data() {
    return {};
  },
  methods: {
    toggleTheme() {
      this.$store.dispatch("switchTheme");
    }
  },
  computed: {
    themeToggle() {
      return this.isDarkThemeProp == true ? "toggle_off" : "toggle_on";
    }
  },
  mounted() {
    const el = document.getElementsByClassName("v-navigation-drawer__content");
    el[0].style.overflowY = "hidden";
  }
};
</script>

<style>
#toggle {
  margin-bottom: 2rem;
  margin-left: 0.4rem;
}
</style>