<template>
  <div>
    <router-link tag="a" to="/form/item">New Item</router-link>
    <router-link tag="a" to="/form/receipt">New Receipt</router-link>
  </div>
</template>

<script>
// @ is an alias to /src
import AppHeader from "../../components/layout/AppHeader/AppHeader";
import AppDrawer from "../../components/layout/AppDrawer/AppDrawer";
import PageDescription from "../../components/PageDescription";

export default {
  props: {
    palette: Object,
    isDarkTheme: Boolean
  },
  data() {
    return {
      pageDescription: "List of form route-link components"
    };
  },
  components: {
    AppHeader,
    AppDrawer,
    PageDescription
  }
};
</script>
