<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-card :style="{backgroundColor: paletteProp.appTheme.primaryColor}">
          <v-card-title :style="{color: paletteProp.other.secondHelperColor}">
            <strong>Unos Novog Korisnika</strong>
          </v-card-title>
          <v-card-text :style="{color: paletteProp.other.secondHelperColor}">
            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    ref="fullName"
                    v-model="fullName"
                    :rules="[rules.required]"
                    :error-messages="errorMessages"
                    label="Ime i Prezime"
                    placeholder="Pero Perić"
                    required
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    ref="username"
                    v-model="username"
                    :rules="[
              rules.required,
              usernameCheck
            ]"
                    label="Korisničko Ime"
                    placeholder="pperic"
                    required
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>

            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    :append-icon="show2 ? 'fa-eye-slash' : 'fa-eye'"
                    :rules="[rules.required, rules.min]"
                    :type="show2 ? 'password' : 'text'"
                    name="input-10-2"
                    label="Pasword"
                    hint="Najmanje 8 znakova"
                    value
                    class="input-group--focused"
                    @click:append="show2 = !show2"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    ref="email"
                    v-model="email"
                    :rules="[rules.required]"
                    label="Email"
                    required
                    placeholder="pperic"
                    suffix="@mail.com"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>

            <v-container fluid>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-select
                    v-model="role"
                    :items="roles"
                    :rules="rules.roles"
                    :error-messages="selectErrors"
                    label="Rola Korisnika*"
                    required
                    @change="$v.select.$touch()"
                    @blur="$v.select.$touch()"
                    outlined
                    rounded
                    :background-color="paletteProp.appTheme.secondaryColor"
                    :color="paletteProp.other.secondHelperColor"
                    :dark="isDarkThemeProp"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card>
          <v-card-actions
            class="actionsDetails"
            :style="{backgroundColor: paletteProp.appTheme.primaryColor}"
            style="border-radius: 0"
          >
            <v-btn outlined color="error">
              Izbriši
              <v-icon right size="1.4rem">delete_outline</v-icon>
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              :style="{backgroundColor: paletteProp.other.notificationsColor}"
              @click="success('')"
              dark
              v-on="on"
            >
              Potvrdi
              <v-icon right size="1.4rem">check_circle_outline</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    paletteProp: Object,
    isDarkThemeProp: Boolean
  },
  data() {
    return {
      show1: false,
      show2: true,
      show3: false,
      show4: false,
      password: "Password",
      rules: {
        required: value => !!value || "Ovo polje je obvezno!.",
        min: v => v.length >= 8 || "Minimalno 8 znakova"
      },
      role: "",
      roles: ["Admin", "Zaposlenik"]
    };
  }
};
</script>