<template>
  <div>
    <h1>{{ pageDescription }}</h1>
  </div>
</template>

<script>
export default {
  props: {
    pageDescription: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
