<template>
  <div>
    <router-view :isDarkThemeProp="isDarkTheme" :paletteProp="palette"></router-view>
    <!--        <page-description :pageDescription="pageDescription"></page-description>-->
  </div>
</template>

<script>
// import PageDescription from "../../components/PageDescription";

export default {
  props: {
    palette: Object,
    isDarkTheme: Boolean
  },
  data() {
    return {
      // pageDescription: "This is tables"
    };
  },
  components: {
    // PageDescription
  }
};
</script>

