<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>client</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="@sweetalert2/theme-wordpress-admin/wordpress-admin.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <style>
    body::-webkit-scrollbar {
      width: 0.5em;
      background-color: #0E1319;
    }

    body::-webkit-scrollbar-thumb {
      background-color: #FF006C;
      border-radius: 10px;
    }
  </style>

</head>

<body>
  <noscript>
    <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

<script src="sweetalert2/dist/sweetalert2.min.js"></script>

</html>