<template>
  <div>
    <v-data-table
      style="width: 90%; margin:auto"
      :headers="headers"
      :items="receiptItems"
      class="elevation-1"
      :footer-props="{
        itemsPerPageOptions: [],
      }"
      :dark="isDarkThemeProp"
    >
      <template v-slot:top>
        <v-toolbar flat :color="paletteProp.appTheme.primaryColor">
          <v-toolbar-title :style="{color: paletteProp.other.secondHelperColor}">
            <strong>Stvaranje novog računa</strong>
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="1200px">
            <template v-slot:activator="{ on }">
              <v-btn class="ma-2" v-on="on" dark :color="paletteProp.other.secondHelperColor">
                <span>Stavka Računa</span>
                <v-icon right>add</v-icon>
              </v-btn>
            </template>
            <v-card :color="paletteProp.appTheme.primaryColor">
              <v-card-title :style="{color: paletteProp.other.secondHelperColor}">
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.code"
                        label="Šifra Artikla"
                        outlined
                        rounded
                        :background-color="paletteProp.appTheme.secondaryColor"
                        :color="paletteProp.other.secondHelperColor"
                        :dark="isDarkThemeProp"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.quantity"
                        label="Količina"
                        outlined
                        rounded
                        :background-color="paletteProp.appTheme.secondaryColor"
                        :color="paletteProp.other.secondHelperColor"
                        :dark="isDarkThemeProp"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.discount"
                        label="Rabat"
                        outlined
                        rounded
                        :background-color="paletteProp.appTheme.secondaryColor"
                        :color="paletteProp.other.secondHelperColor"
                        :dark="isDarkThemeProp"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        disabled
                        label="Artikal"
                        outlined
                        :color="paletteProp.other.secondHelperColor"
                        :dark="isDarkThemeProp"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="ma-2"
                  :style="{backgroundColor: paletteProp.other.notificationsColor, color: '#fff'}"
                  @click="save"
                >
                  <span>Dodaj</span>
                  <v-icon right>add</v-icon>
                </v-btn>
                <v-btn
                  class="ma-2"
                  text
                  :style="{borderColor: '#FF006C', color: '#FF006C'}"
                  outlined
                  @click="close"
                >
                  Odustani
                  <v-icon right>cancel</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon small color="indigo" class="mr-2" @click="editItem(item)">edit</v-icon>
        <v-icon small color="error" @click="deleteItem(item)">delete</v-icon>
      </template>
    </v-data-table>

    <v-card style="width: 90%; margin:auto">
      <v-card-actions
        class="actionsDetails"
        :style="{backgroundColor: paletteProp.appTheme.primaryColor}"
        style="border-radius: 0"
      >
        <v-btn
          text
          :style="{borderColor: '#FF006C'}"
          style="border-bottom: solid 1px; border-radius: 0"
          color="error"
          @click="clearCart"
        >
          Odustani
          <v-icon right size="1.4rem">cancel</v-icon>
        </v-btn>

        <v-spacer></v-spacer>
        <v-btn
          style="margin-right: 1rem; font-weight: bold"
          :style="{color: paletteProp.other.notificationsColor}"
          @click="success('')"
          dark
          outlined
          v-on="on"
        >
          Potvrdi
          <v-icon right size="1.4rem">check_circle_outline</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    paletteProp: Object,
    isDarkThemeProp: Boolean
  },
  data: () => ({
    dialog: false,
    headers: [
      {
        text: "Artikal",
        align: "left",
        sortable: false,
        value: "name"
      },
      { text: "Ukupna Cijena (kn)", value: "totalCost" },
      { text: "Jedinicna Cijena (kn)", value: "unitPrice" },
      { text: "Količina", value: "quantity" },
      { text: "PDV (%)", value: "tax" },
      { text: "Akcije", value: "action", sortable: false }
    ],
    receiptItems: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      totalCost: 0,
      unitPrice: 0,
      quantity: 0,
      tax: 0
    },
    defaultItem: {
      name: "",
      totalCost: 0,
      unitPrice: 0,
      quantity: 0,
      tax: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Nova Stavka Računa"
        : "Uređivanje Stavke Računa";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.receiptItems = [];
    },

    success(message) {
      this.$awn.success(message);
    },

    clearCart() {
      this.$swal({
        title: "Želite izbrisati sve stavke računa?",
        text: "Jeste li sigurni, akciju nije moguće poništiti",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Izbriši sve stavke!",
        cancelButtonText: "Zadrži sve stavke!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal(
            "Izbrisano",
            "Uspješno izbrisane sve stavke računa",
            "success"
          );
          this.initialize();
        } else {
          this.$swal("Otkazano", "Stavke nisu izbrisane", "info");
        }
      });
    },

    editItem(item) {
      this.editedIndex = this.receiptItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.receiptItems.indexOf(item);

      this.$swal({
        title: "Jeste li sigurni?",
        text: "Akciju nije moguće poništiti",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Da, izbriši stavku!",
        cancelButtonText: "Ne, zadrži stavku!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.$swal(
            "Izbrisano",
            "Uspješno izbrisana stavka računa",
            "success"
          );
          this.receiptItems.splice(index, 1);
        } else {
          this.$swal("Otkazano", "Stavka nije izbrisana", "info");
        }
      });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.receiptItems[this.editedIndex], this.editedItem);
      } else {
        this.receiptItems.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>